.Breeds {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;
}

.Breed {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.BreedImage,
.BreedImage .image {
  max-width: 240px;
  aspect-ratio: 1 / 1;
  transition: opacity 300ms ease-in 0ms;
}
