.Breeds {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));;
  gap: 40px;
}

.Breed {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 20px;
  padding-block-end: 0;
  overflow: hidden;
}

.BreedImage,
.BreedImage img {
  max-width: 240px;
  aspect-ratio: 1 / 1;
  transition: opacity 300ms ease-in 0ms;
  margin-top: auto;
}

.BreedInfo {
  list-style: none;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  border-top: 1px solid #ccc;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  padding: 20px;
  margin: 0;
  transform: translateY(100%);
  transition: transform 300ms ease-in-out 0ms;
}
.BreedInfo.visible {
  transform: translateY(0);
}
.BreedInfo li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.BreedAction {
  position: absolute;
  top: 16px;
  right: 16px;
}

.BreedAction button {
  background: none;
  border: none;
  border-radius: 100vmax;
  cursor: pointer;
}
