@font-face {
  font-family: 'Recoleta';
  src:  url('./fonts/recoleta-regular.woff2') format('woff2'),
        url('./fonts/recoleta-regular.woff') format('woff');
  font-weight: 400;
}
@font-face {
  font-family: 'Recoleta';
  src:  url('./fonts/recoleta-semi-bold.woff2') format('woff2'),
        url('./fonts/recoleta-semi-bold.woff') format('woff');
  font-weight: 600;
}
@font-face {
  font-family: 'Recoleta';
  src:  url('./fonts/recoleta-bold.woff2') format('woff2'),
        url('./fonts/recoleta-bold.woff') format('woff');
  font-weight: 700;
}

*, *::before, *::after {
  box-sizing: border-box;
  position: relative;
  padding: 0;
  margin: 0;
}

html, body {
  min-block-size: 100%;
}

html {
  line-height: 1.15;
  tab-size: 4;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: "Recoleta", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-size: 20px;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

